@import url('https://fonts.googleapis.com/css2?family=Roboto');

html {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: inline-block;
    height: fit-content;
    width: 100%;
    background-color: #1F2937;
    padding: 0 300px;
}

nav {
    display: flex;
    align-items: baseline;
    padding: 10px 0 0; 
    gap: 30px;
}

nav a:nth-child(2) {
    margin-left: auto; 
}

nav a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color: #D0D4DD;
}

nav a:hover {
    color: #9DACCA;
}

.header-container {
    display: flex;
    margin: 80px 0;
    gap: 40px;
}

.header-container div {
    height: 220px;
    width: 600px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 950;
    color: #F9FAF8;
}

.header-text p {
    font-size: 17px;
    font-weight: 400;
    color: #D0D4DD;
}

.header-text button {
    background-color: #3882F6;
    border: #3882F6 solid;
    border-radius: 8px;
    margin-top: 10px;
    padding: 5px 25px;
    font-size: 17px;
    font-weight: 600;
    color: #F9FAF8;
}

.header-text button:hover {
    background-color: #F9FAF8;
    border: #F9FAF8 solid;
    color: #3882F6;
    box-shadow: -1px 0px 12px 1px rgba(247, 247, 247, 0.26);
}

.header-image {
    background-color: #979797;
    text-align: center;
    line-height: 220px;
    color: #F9FAF8;
}

body h2 {
    text-align: center;
    padding: 40px 0;
    font-size: 32px;
    font-weight: 950;
    color: #1F2937;
}

.illustration-placeholders {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.illustration-placeholders div {
    height: 160px;
    width: 160px;
    border: 5px solid #3882F6;
    border-radius: 18px;
}

.illustration-subtext {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 80px;
}

.illustration-subtext p {
    width: 160px;
    padding: 5px 0;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    color: #888888;
}

.quote {
    background-color: #E5E7EB;
    text-align:left;
    padding: 80px 320px;
    font-size: 34px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.quote p:nth-child(2) {
    text-align: right;
    font-size: 18px;
    font-weight: 950;
    font-style: normal;
    color: #1F2937;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    margin: 60px 300px;
    padding: 40px 80px;
    border-radius: 8px;
}

.banner div { 
    font-size: 22px;
    font-weight: 600;
    color: #F9FAF8;
}

.banner p:nth-child(2) {
    font-size: 17px;
    font-weight: 400;
    color: #D0D4DD;
}

.banner button {
    background-color: #3882F6;
    border: #F9FAF8 solid;
    border-radius: 8px;
    padding: 5px 25px;
    font-size: 17px;
    font-weight: 600;
    color: #F9FAF8;
}

.banner button:hover {
    background-color: #F9FAF8;
    border: #F9FAF8 solid;
    color: #3882F6;
    box-shadow: -1px 0px 12px 1px rgba(247, 247, 247, 0.26);
}

footer {
    background-color: #1F2937;
    text-align: center;
    padding: 40px 0;
    font-size: 17px;
    font-weight: 400;
    color: #D0D4DD;
}